@theme {
    --color-error: #bc0000;
    --color-error-container-1: #fdf2f2;
    --color-error-container-2: #fce1e1;
    --color-error-container-3: #facfcf;
    --color-error-outline: #facfcf;
    --color-error-variant-1: #ec5555;
    --color-error-variant-2: #f38282;
    --color-focus: #1890d2;
    --color-focus-variant-1: #076193;
    --color-inverse-surface: #494949;
    --color-inverse-surface-variant: #898989;
    --color-negative: #1d9c58;
    --color-neutral: #5c5c5c;
    --color-neutral-container-1: #e7e7e7;
    --color-neutral-container-2: #d9d9d9;
    --color-neutral-outline: #d9d9d9;
    --color-neutral-variant-1: #898989;
    --color-neutral-variant-2: #a3a3a3;
    --color-on-error: #fff;
    --color-on-inverse-surface: #fff;
    --color-on-neutral: #fff;
    --color-on-primary: #fff;
    --color-on-purple: #fff;
    --color-on-read-only: #fff;
    --color-on-secondary: #fff;
    --color-on-secondary-container: #1890d2;
    --color-on-secondary-container-hover: #076193;
    --color-on-success: #fff;
    --color-on-surface: #373737;
    --color-on-surface-variant: #707070;
    --color-on-warning: #fff;
    --color-outline: #898989;
    --color-outline-1: #f5f5f5;
    --color-outline-2: #e7e7e7;
    --color-outline-3: #bdbdbd;
    --color-outline-4: #fff;
    --color-outline-5: #d9d9d9;
    --color-outline-hover: #5c5c5c;
    --color-overlay-1: #000;
    --color-overlay-2: #000;
    --color-overlay-3: #000;
    --color-overlay-4: #fff;
    --color-positive: #dd1b1b;
    --color-primary: #02293d;
    --color-primary-container-disabled: #e7e7e7;
    --color-primary-disabled: #bdbdbd;
    --color-purple: #4c53ac;
    --color-purple-container-1: #e3e6ff;
    --color-purple-container-2: #d3d7ff;
    --color-purple-outline: #d3d7ff;
    --color-purple-variant: #757eec;
    --color-read-only: #898989;
    --color-secondary: #1890d2;
    --color-secondary-container: #e9f6fe;
    --color-secondary-variant: #35aded;
    --color-steady: #707070;
    --color-success: #0a6a36;
    --color-success-container-1: #e9f8f0;
    --color-success-container-2: #cbefdc;
    --color-success-container-3: #ade6c7;
    --color-success-outline: #ade6c7;
    --color-success-variant-1: #1d9c58;
    --color-success-variant-2: #3bb875;
    --color-surface: #f5f5f5;
    --color-surface-1: #fff;
    --color-surface-1-disabled: #f5f5f5;
    --color-surface-2: #fff;
    --color-surface-3: #f5f5f5;
    --color-surface-4: #e7e7e7;
    --color-surface-5: #bdbdbd;
    --color-table-collapse: #f5f5f5;
    --color-table-main-category: #fff;
    --color-table-row: #fff;
    --color-table-subcategory: #f5f5f5;
    --color-table-title: #e7e7e7;
    --color-table-total: #e7e7e7;
    --color-warning: #d56c00;
    --color-warning-container-1: #fff3e6;
    --color-warning-container-2: #ffe2c2;
    --color-warning-container-3: #ffd19d;
    --color-warning-outline: #ffd19d;
    --color-warning-variant-1: #944600;
    --color-warning-variant-2: #f28815;
    --color-blue-100: #e9f6fe;
    --color-blue-1000: #02293d;
    --color-blue-150: #caecff;
    --color-blue-200: #aae1ff;
    --color-blue-300: #67c7fb;
    --color-blue-400: #35aded;
    --color-blue-500: #1890d2;
    --color-blue-600: #0c76b0;
    --color-blue-700: #076193;
    --color-blue-800: #044d75;
    --color-blue-900: #033a59;
    --color-gray-0: #fff;
    --color-gray-100: #f5f5f5;
    --color-gray-1000: #262626;
    --color-gray-1100: #000;
    --color-gray-150: #e7e7e7;
    --color-gray-200: #d9d9d9;
    --color-gray-300: #bdbdbd;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #898989;
    --color-gray-600: #707070;
    --color-gray-700: #5c5c5c;
    --color-gray-800: #494949;
    --color-gray-900: #373737;
    --color-green-100: #e9f8f0;
    --color-green-1000: #032c16;
    --color-green-150: #cbefdc;
    --color-green-200: #ade6c7;
    --color-green-300: #6ed09b;
    --color-green-400: #3bb875;
    --color-green-500: #1d9c58;
    --color-green-600: #0f8144;
    --color-green-700: #0a6a36;
    --color-green-800: #06542a;
    --color-green-900: #044020;
    --color-orange-100: #fff3e6;
    --color-orange-1000: #3f1d00;
    --color-orange-150: #ffe2c2;
    --color-orange-200: #ffd19d;
    --color-orange-300: #ffab50;
    --color-orange-400: #f28815;
    --color-orange-500: #d56c00;
    --color-orange-600: #b25700;
    --color-orange-700: #944600;
    --color-orange-800: #763700;
    --color-orange-900: #592a00;
    --color-purple-100: #f3f4ff;
    --color-purple-1000: #1f2249;
    --color-purple-150: #e3e6ff;
    --color-purple-200: #d3d7ff;
    --color-purple-300: #b2b8ff;
    --color-purple-400: #929bfe;
    --color-purple-500: #757eec;
    --color-purple-600: #5e66cc;
    --color-purple-700: #4c53ac;
    --color-purple-800: #3c418a;
    --color-purple-900: #2d3169;
    --color-red-100: #fdf2f2;
    --color-red-1000: #500;
    --color-red-150: #fce1e1;
    --color-red-200: #facfcf;
    --color-red-300: #f7a9a9;
    --color-red-400: #f38282;
    --color-red-500: #ec5555;
    --color-red-600: #dd1b1b;
    --color-red-700: #bc0000;
    --color-red-800: #970000;
    --color-red-900: #750000;
    --shadow-light-down-1: 0px 4px 14px 0px rgb(0 0 0 / 10%);
    --shadow-light-down-2: 0px 6px 10px 0px rgb(0 0 0 / 12%);
    --shadow-light-down-3: 0px 2px 4px 0px rgb(0 0 0 / 6%);
    --shadow-light-up-2: 0px -4px 8px 0px rgb(0 0 0 / 10%);
    --shadow-light-up-3: 0px -4px 8px 0px rgb(0 0 0 / 8%);
    --shadow-dark-down-2: 0px 4px 8px 0px rgb(0 0 0 / 20%);
    --shadow-dark-down-3: 0px 4px 8px 0px rgb(0 0 0 / 16%);
    --shadow-dark-up-2: 0px -4px 8px 0px rgb(0 0 0 / 20%);
    --shadow-dark-up-3: 0px -4px 8px 0px rgb(0 0 0 / 16%);
}
